
.responsive-carousel {
  max-height: 88.9vh; /* Adjust this value to your preference */
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.responsive-carousel .carousel-caption {
    display: flex;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
}