.welcome-container{
    margin-bottom: 20px;
}

.offers {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.big-heading {
    margin-left: 10px;
}

#obras-mantenimiento {
    font-weight: 400;
    font-size: large;
}

#innovacion {
    font-family: 'Lato', sans-serif;
}